.slider{
    width: 345px;
    margin: 0 10px;
    display: inline-block;
  }
.rc-slider-track {
    background-color: transparent;
}
.rc-slider-rail{
    height:8px;
}
.rc-slider-handle, .rc-slider-handle:hover, .rc-slider-handle:active, .rc-slider-handle:focus  {
    background-color: green;
    border: 2px solid green;
    outline:none;
    box-shadow: none;
    
}
.Navbar{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
}
.logo{
    margin-right: 15px;
    padding: 0 13px ;
    background-color: #eceff1;
    font-size: 22px;
    height:100%;
    display: flex;
    align-items: center;
    font-family: "Roboto";
    

}
.logo a{
    text-decoration: none;
    color: black;
}
.typeSelector{
   float: right;
}
.typeSelector{
    margin-left: auto;
    margin-right: 15px;
    padding: 3px;
}

     @media(max-width:630px){
        .slider{
            width:280px;
          
        }
    }
        @media(max-width:570px){
            .slider{
                width:200px;
              
            }
        }
        
@media(max-width:500px){
    .slider{
        width:150px;
        margin:0px ;
    }
    .level{
        font-size: small;
        margin-right: 10px;
    }
    .SliderContainer{
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .logo{
        margin-right: 8px;
        padding:0 8px;
        font-size: 18px;
    }.typeSelector{
        margin-right: 5px;
        padding: 1px;
        font-size: small;
    }
       }
       @media(max-width:380px){
        .slider{
            width:125px;
            margin:0px ;
        }
    }
    @media(max-width:380px){
        .slider{
            width:95px;
            margin:0px ;
        }
        .logo{
            margin-right: 3px;
            padding: 0 5px;
        }
    }
    